.icon {
  width: 22px;
  height: 22px;
  --border-radius: 5px;
}

.badge {
  width: 17px;
  height: 22px;
  --border-radius: 5px;
}

.title {
  width: 70%;
  height: .6rem;
  --border-radius: 5px;
}

.subtitle {
  width: 30%;
  height: .4rem;
  --border-radius: 5px;
}

.shadowButton {
  height: 2.8rem;
  border-radius: 10px;
}

.left {
  background-color: var(--ion-color-danger);
  opacity: 0.1;
}

.right {
  background-color: var(--ion-color-primary);
  opacity: 0.1;
}