ion-popover.menu {
    --width: 365px;
    --height: 400px;
    --max-width: 100%;
}

ion-popover.menu {
    top: 0 !important;
    left: inherit !important;
    right: 0;
  
    transform-origin: right top !important;
  }